<!DOCTYPE html>
 <html>
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cat Library</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

   <body ng-app="myApp" ng-controller="mycat">
    <div class="navbar-fixed">
      <nav class="hoverable">
        <div class="container">
          <a href="#" class="brand-logo left">Cat Library</a>
          <a href="#" data-activates="mobile-side" class="dropdown-button right hide-on-med-and-up"><i class="material-icons">menu</i></a>
          <span class="left header-icon"><i class="fa fa-github"></i></span>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="openinfo"><a href="#"><i class="fa fa-home"></i>  萌猫社区</a></li>
            <li class="openinfo"><a href="#">  猫咪百态</a></li>
            <li><a href="#login"><i class="fa fa-user"></i>  {{userplace}}</a></li>
            <li>
              <a href="#about">  关于</a>
            </li>
          </ul>
          <ul id="mobile-side" class="dropdown-content">
            <li><a href="#">萌猫社区</a></li>
            <li><a href="#">猫咪百态</a></li>
            <li><a href="#login">{{userplace}}</a></li>
            <li>
              <a href="#about">关于</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    <div class="modal" id="about">
      <div class="modal-content">
        <h4>关于</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;很久以来，猫一直都与魔力和超自然的事物联系在一起。16世纪，它是女巫同伴的说法已经广为人知，它能够与主人沟通。在苏格兰部分地区，这种观念深入人心，以至于很多人在有猫在房间里的时候都不愿意讨论重要的家庭问题，害怕会被女巫知道并用来对付他们。</br>&nbsp;&nbsp;&nbsp;&nbsp;但是根据一些理论，猫还不只是女巫的间谍——它们就是女巫装扮的。16世纪法官尼古拉斯·利米曾经宣判过数百名女巫有罪，他称他见到的绝大多数女巫在进入一个人家之前都会把自己变成一只猫，但只能这样变9次。这也就是猫有9条命的缘故。</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect btn-flat">关闭</a>
      </div>
    </div>

    <div class="modal login-modal" id="login">
      <div class="modal-content login-bg">
        <div class="login-wrap">
          <div class="row center-align">
            <h1 class="login-header">Cat Library</a></h1>
          </div>
          <div class="row center-align">
            <h3 class="bord center-align"><span>登录</span></h3>
          </div>
          <form class="login-content">
            <div class="row loginspace">
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" ng-model="username">
                <label for="icon_prefix">用户名</label>
                <p>{{userInfo}}</p>
              </div>
            </div>
            <div class="row loginspace space1">
              <div class="input-field">
                <i class="fa fa-unlock-alt prefix"></i>
                <input id="icon_telephone" type="password" class="validate" ng-model="password">
                <label for="icon_telephone">密码</label>
                <p>{{passInfo}}</p>
              </div>
            </div>
            <div class="row loginspace">
              <div class="input-field">
                <input id="icon_checkbox" type="checkbox" class="validate">
                <label for="icon_checkbox">记住密码</label>
              </div>
            </div>
          </form>
          <div class="row center-align login-mag">
            <button class="btn waves-effect btn-default" ng-click="loginIn()">登录</button>
          </div>
          <div class="row login-info">
            <span class="left"><a href="#">忘记密码？</a></span>
            <span class="right"><a href="#">立即注册></a></span>
          </div>
        </div>  
      </div>
    </div>

    <div class="container">
      <ol class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Cat</a></li>
        <li class="current"><a href="#">Library</a></li>
      </ol>
    </div>

    <div class="wrap-content clearfix" ng-controller="mycat">
      <div class="bg">
        <div class="container">
          <div class="row">
            <div class="col m3 s12 spaceside">
              <h2 class="cat-variety-h2">猫星人种类{{leng}}</h2>
              <strong class="bigfilter">筛选</strong>
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header">
                    <i class="fa fa-eur iconcolor"></i>
                    <font>价格</font>
                    <i class="fa fa-angle-up right"></i>
                  </div>
                  <div class="collapsible-body" style="display:none">
                    <div class="row searchprice">
                      <div class="col m4">
                        <div class="input-field inline">
                          <input type="text" class="validate" placeholder="From">
                        </div>
                      </div>
                      <div class="col m4">
                        <div class="input-field inline">
                          <input type="text" class="validate" placeholder="To">
                        </div>
                      </div>
                      <div class="col m4 ok">
                        <a href="#!" class="waves-effect btn secondary-content disabled">OK</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="fa fa-neuter iconcolor"></i>
                    <font>体重</font>
                    <i class="fa fa-angle-up right"></i>
                  </div>
                  <div class="collapsible-body" style="display:none">
                    <div class="row searchprice">
                      <div class="col m4">
                        <div class="input-field inline">
                          <input type="text" class="validate" placeholder="From">
                        </div>
                      </div>
                      <div class="col m4">
                        <div class="input-field inline">
                          <input type="text" class="validate" placeholder="To">
                        </div>
                      </div>
                      <div class="col m4 ok">
                        <a href="#!" class="waves-effect btn secondary-content disabled">OK</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="active">
                  <div class="collapsible-header active">
                    <i class="fa fa-paw iconcolor"></i>
                    <font>体型</font>
                    <i class="fa fa-angle-up right"></i>
                  </div>
                  <div class="collapsible-body">
                    <div class="row searchprice">
                      <form action="#">
                        <p>
                          <input class="check" type="checkbox" name="checkbox" id="type1">
                          <label for="type1" data-multifilter="1">小型</label>
                        </p>
                        <p>
                          <input class="check" type="checkbox" name="checkbox" id="type2">
                          <label for="type2" data-multifilter="2">中型</label>
                        </p>
                        <p>
                          <input class="check" type="checkbox" name="checkbox" id="type3">
                          <label for="type3" data-multifilter="3">大型</label>
                        </p>
                      </form>
                    </div>
                  </div>
                </li>
                <li class="active">
                  <div class="collapsible-header active">
                    <i class="fa fa-fire iconcolor"></i>
                    <font>毛长</font>
                    <i class="fa fa-angle-up right"></i>
                  </div>
                  <div class="collapsible-body">
                    <div class="row searchprice">
                      <form action="#">
                        <p>
                          <input class="check" type="checkbox" name="checkbox" id="type4">
                          <label for="type4" data-multifilter="4">长毛</label>
                        </p>
                        <p>
                          <input class="check" type="checkbox" name="checkbox" id="type5">
                          <label for="type5" data-multifilter="5">短毛</label>
                        </p>
                      </form>
                    </div>
                  </div>
                </li>
                <li class="active coolList">
                  <div class="collapsible-header active">
                    <i class="fa fa-book iconcolor"></i>
                    <font>神奇喵世界 •ω• </font>
                    <i class="fa fa-angle-up right"></i>
                  </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <ul>
                        <li>
                          <p><i class="fa fa-paper-plane-o iconsize"></i><a href="index.html#/get/1">1888年，埃及的墓地发现了超过30万...</a></p>
                        </li>
                        <li>
                          <p><i class="fa fa-paper-plane-o iconsize"></i><a href="index.html#/get/2">科学家们认为，猫看到草是红色的。</a></p>
                        </li>
                        <li>
                          <p><i class="fa fa-paper-plane-o iconsize"></i><a href="index.html#/get/3">最富有的猫是Blackie，它的主人死后...</a></p>
                        </li>
                        <li>
                          <p><i class="fa fa-paper-plane-o iconsize"></i><a href="index.html#/get/4">苏格兰有一座专门给猫建立的纪念塔...</a></p>
                        </li>
                        <li>
                          <p><i class="fa fa-paper-plane-o iconsize"></i><a href="index.html#/get/5">牛顿发明了猫洞。一次牛顿在一个漆...</a></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col m9 s12">
              <div class="row">
                <div class="col m6 s8">
                  <div class="input-field">
                    <i class="fa fa-search"></i>
                    <input type="text" id="catkind" placeholder="请输入关键字" class="keyword" data-search>
                  </div>
                </div>
              </div>
              <div>
                <div class="row bottomspace">
                  <div id="cooltab" ng-view style="border:1px solid #cac7c7">
                    loading...
                  </div>
                  <div class="row" id="contentList">

                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat1.jpg">
                        </div>
                        <div class="card-content">
                          <h4>暹罗猫</h4>
                          <p>暹罗猫能够较好适应主人当地的气候，且性格刚烈好动，机智灵活，好奇心特强，善解人意。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~1200元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>2.5~5.5kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="3, 4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat2.jpg">
                        </div>
                        <div class="card-content">
                          <h4>布偶猫</h4>
                          <p>布偶猫较为温顺好静，对人友善。其美丽优雅又非常类似于狗的性格而又被称为"仙女猫"，"小狗猫"。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>大型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>2999~4000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>4.5~5.9kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat3.jpg">
                        </div>
                        <div class="card-content">
                          <h4>苏格兰折耳猫</h4>
                          <p>苏格兰折耳猫在软骨部份有一个折，使耳朵向前屈折，并指向头的前方。也正因如此，这种猫患有先天患有骨科疾病，时常用坐立的姿势来缓解痛苦。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~2000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>2.4~6kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat4.jpg">
                        </div>
                        <div class="card-content">
                          <h4>英国短毛猫</h4>
                          <p>英国短毛猫，体形圆胖，四肢粗短发达，毛短而密，头大脸圆，温柔平静，对人友善，极易饲养。大而圆的眼睛根据被毛不同而呈现各种颜色。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~2000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>4~8kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat5.jpg">
                        </div>
                        <div class="card-content">
                          <h4>波斯猫</h4>
                          <p>波斯猫有一张讨人喜爱的面庞，长而华丽的背毛，优雅的举止，故有“猫中王子”、“王妃”之称。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1200元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3.5~7kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat6.jpg">
                        </div>
                        <div class="card-content">
                          <h4>俄罗斯蓝猫</h4>
                          <p>俄罗斯蓝猫体型细长，大而直立的尖耳朵，脚掌小而圆，披着银蓝色光泽的短被毛，走路像是用脚尖在走。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~1600元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3~3.5kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat7.jpg">
                        </div>
                        <div class="card-content">
                          <h4>美国短毛猫</h4>
                          <p>美国短毛猫是原产美国的一种猫，素以体格魁伟，骨胳粗壮，肌肉发达，生性聪明，性格温顺而著称，是短毛猫类中大型品种。毛色多达30余种，其中银色条纹品种尤为名贵。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~7000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>4~6kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat8.jpg">
                        </div>
                        <div class="card-content">
                          <h4>异国短毛猫</h4>
                          <p>异国短毛猫性格文静、亲切，能慰藉主人的心，体形为中型到大型的短脚型，头部宽而圆，鼻子有明显的凹陷，皮毛有柔和的光泽，性情独立，不爱吵闹。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~2000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3~6.5kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat9.jpg">
                        </div>
                        <div class="card-content">
                          <h4>挪威森林猫</h4>
                          <p>森林猫生长的环境非常寒冷和恶劣，因此它长有比其它猫更厚密的被毛和强壮的体格。挪威森林猫体大肢壮，奔跑速度极快，不怕日晒雨淋，行走时颈毛和尾毛飘逸，非常美丽。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>2500~7000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3~9kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat10.jpg">
                        </div>
                        <div class="card-content">
                          <h4>孟买猫</h4>
                          <p>孟买猫又称小黑豹。20世纪50年代，一位美国肯塔基的饲养者试图把黑色美国短毛猫与深褐色缅甸猫杂交，想培育出小型黑豹一样的猫。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                            <div class="col s6">
                              价格：<span>500~3980元</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat11.jpg">
                        </div>
                        <div class="card-content">
                          <h4>缅因猫</h4>
                          <p>缅因猫因原产于美国缅因州而得名，是北美自然产生的第一个长毛猫品种，约于18世纪中叶形成较稳定品种。缅因猫体格强壮，被毛厚密，长像与西伯利亚森林猫相似，在猫类中亦属大体型的品种。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                            <div class="col s6">
                              价格：<span>500~6000元</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat12.jpg">
                        </div>
                        <div class="card-content">
                          <h4>埃及猫</h4>
                          <p>埃及猫属于中型短毛猫品种。埃及猫是点状虎斑种的猫中唯一不以人工繁殖，而是自然形成点状花纹的猫种，被誉为“小型豹”，身上的点状花纹、或大或小随意分布，脸、四肢和尾巴有条纹图案。额头的眉宇之间有一个圣甲虫图案。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1000~2000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>2.4~6kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat13.jpg">
                        </div>
                        <div class="card-content">
                          <h4>伯曼猫</h4>
                          <p>伯曼猫又称缅甸圣猫，传说最早由古代缅甸寺庙里的僧侣饲养，视为护殿神猫，18世纪传入欧洲逐步进化定型。伯曼猫体型较长，身上被毛主要是浅金黄色，脸，耳，腿尾等部分毛色较深，呈咖啡色或深灰色，四爪为白色。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1900~8000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>4.5~5kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat14.jpg">
                        </div>
                        <div class="card-content">
                          <h4>加拿大无毛猫</h4>
                          <p>加拿大无毛猫是自然的基因突变产生的宠物猫，除了在耳、口、鼻、尾前锻、脚等部位有些又薄又软的胎毛外，其它全身部分均无毛，皮肤多皱有弹性。加拿大无毛猫性情温顺，独立性强，无攻击性，能与其它猫狗相处。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>5000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3.5~7kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat15.jpg">
                        </div>
                        <div class="card-content">
                          <h4>缅甸猫</h4>
                          <p>缅甸猫以全身呈黑貂棕褐色为最理想，各种缅甸猫的眼睛都是黄色的。缅甸猫的体重显得偏重，通常被形容为“包在丝绸里的砖”。它的被毛很短，如纤维般光滑，不需要每日的梳理。缅甸猫活泼好动，叫声轻柔，谈谐有趣，富于表情，勇敢，聪颖，爱撒娇</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1900~2500元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>4~7kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat16.jpg">
                        </div>
                        <div class="card-content">
                          <h4>阿比西尼亚猫</h4>
                          <p>阿比西尼亚猫有着楔形的脸蛋、大而尖的耳朵、呈杏仁状的双眼，眼睛的颜色为琥珀色、浅褐色或是绿色，眼睛的周围并有一圈深色的色环，像是画了眼线一般。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>500~9999元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>4~7.5kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="1, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat17.jpg">
                        </div>
                        <div class="card-content">
                          <h4>新加坡猫</h4>
                          <p>新加坡猫，英文名Singapura，最早起源于新加坡，在二十世纪70年代初期，它们被发现，是体形非常娇小的猫。新加坡猫性格文静，好奇心旺盛、动作敏捷。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>小型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1200~3000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>1~2.7kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat18.jpg">
                        </div>
                        <div class="card-content">
                          <h4>索马里猫</h4>
                          <p>索马里猫活泼，但不热情过度。生命力顽强，温顺，性情温和，很贪玩，情感丰富，非常需要主人的关注，但较阿比西尼亚猫的占有欲弱。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                            <div class="col s6">
                              价格：<span>1900~2000元</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat19.jpg">
                        </div>
                        <div class="card-content">
                          <h4>土耳其梵猫</h4>
                          <p>土耳其梵猫，原产土耳其国，外表极为美丽和可爱。性格聪明、机敏、活泼、喜欢玩耍、攀爬。叫声甜美悦耳，对人友善。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>2500元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3~8.5kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat20.jpg">
                        </div>
                        <div class="card-content">
                          <h4>美国短尾猫</h4>
                          <p>美国短尾猫是分布在北美洲的一种猫科动物。短尾猫是有很强适应力的掠食者，栖息在林地、半沙漠、城市及沼泽。短尾猫是拂晓的动物，主要于黎明及黄昏时出没，以兔、野兔、昆虫、小型啮齿动物为食。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>500~2000元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3.5~7kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat21.jpg">
                        </div>
                        <div class="card-content">
                          <h4>中国狸花猫</h4>
                          <p>狸花猫的原产地是中国，属于自然猫，是在千百年中经过许多品种的自然淘汰而保留下来的品种。它非常受百姓们喜欢，因为它有漂亮、厚实的皮毛，健康的身体。容易喂养，并且对捕捉老鼠十分在行。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                            <div class="col s6">
                              价格：<span>500元</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="4">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat22.jpg">
                        </div>
                        <div class="card-content">
                          <h4>西伯利亚猫</h4>
                          <p>西伯利亚猫由于生活在自然环境苛刻的俄国，所以全身上下都被长长的被毛所覆盖，就连颈部周围都有一圈厚厚的毛领子。它们外层护毛质硬、光滑且呈油性，底层绒毛浓密厚实，体型巨大，其体重可达9千克以上，属于最大型的猫品种之一。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              毛长：<span>长毛</span>
                            </div>
                            <div class="col s6">
                              价格：<span>2500元</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m4 s12 filtr-item fix-heig" data-category="2, 5">
                      <div class="card hoverable">
                        <div class="card-image">
                          <img src="img/cat23.jpg">
                        </div>
                        <div class="card-content">
                          <h4>日本短尾猫</h4>
                          <p>日本短尾猫，又名日本截尾猫。这种猫是由于基因突变而产生的品种。日本短尾猫的尾巴仅长10厘米左右，与马恩岛猫都是尾巴最短的猫品种。日本短尾猫中以三色猫最为受欢迎，但红白猫、白猫也很多。招财猫的样子即来自于日本短尾猫。</p>
                        </div>
                        <div class="card-action">
                          <div class="row">
                            <div class="col s6">
                              体型：<span>中型</span>
                            </div>
                            <div class="col s6">
                              毛长：<span>短毛</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s6">
                              价格：<span>1300元</span>
                            </div>
                            <div class="col s6">
                              体重：<span>3.5~7kg</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                   
                  </div>
                </div>
              </div>
              <div class="row">
                <ul class="pagination center-align">
                  <li class="pagehover hoveLeft"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                  <li class="page active"><a href="#">1</a></li>
                  <li class="page waves-effect"><a href="#">2</a></li>
                  <li class="page waves-effect"><a href="#">3</a></li>
                  <li class="pagehover hoveNext"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn horizontal hide-on-med-and-down">
      <a class="btn-floating purple lighten-3"><i class="fa fa-link"></i></a>
      <ul>
        <li><a class="btn-floating blue lighten-4"><i class="fa fa-paw"></i></a></li>
        <li><a class="btn-floating teal lighten-3"><i class="fa fa-github"></i></a></li>
        <li><a class="btn-floating brown lighten-2"><i class="fa fa-maxcdn"></i></a></li>
      </ul>
    </div>

    <div class="footer">
      <div class="container center-align">
        <p>Copyright © 2018 yulian.Tao</p>
      </div>
    </div>
    

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.filterizr.js"></script>
    <script type="text/javascript" src="js/controls.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>

    <script type="text/javascript" src="js/myscript.js"></script>
    <script>
        $(".modal").modal();
        $(".openinfo").click(function(){
          alert("抱歉！暂未开放")
        })

        $(".collapsible-header").click(function(){
          if($(this).hasClass("active")){
            $(this).find("i").eq(1).removeClass("fa-angle-up").addClass("fa-angle-down")
          }else{
            $(this).find("i").eq(1).removeClass("fa-angle-down").addClass("fa-angle-up")
          }
        });

        $("#contentList").filterizr();
    </script>
   </body>
 </html>